<div
  id={{this.elementId}}
  class="swiper-container"
  {{did-insert this._initializeOptions}}
  {{did-update this._updateOptions}}
>
  <div class="swiper-wrapper">
    {{yield (hash slide=(component 'swiper/slide'))}}
  </div>
  {{#if @navigation}}
    {{yield (hash navigation=(component 'swiper/navigation'))}}
  {{/if}}
  {{#if @pagination}}
    {{yield (hash pagination=(component 'swiper/pagination'))}}
  {{/if}}
  {{#if @scrollbar}}
    {{yield (hash scrollbar=(component 'swiper/scrollbar'))}}
  {{/if}}
</div>